div.notification {
  > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1.6rem 0;
    padding: 0 0 .4rem;
    border-bottom: solid #777 .1rem;
  }
}
