<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |news| %>
          <li><%= render partial: 'admin/news/news/in_list', locals: { news: news } %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
