// Зебра для списков
$row_background_even: #f0f0f0;
$row_background_odd: #fafafa;

$secondary_text_color: #777777;

$toggleable_active: #c0ffc0;
$toggleable_inactive: #ffc0c0;
$toggleable_switch: #ffffc0;
$toggleable_unknown: #c0c0c0;
$toggleable_background: #ffffff;

.toggleable {
  margin: 0.5rem;
  font-size: $small_font_size;

  > span {
    display: inline-block;
    line-height: 1.5rem;
    padding: 0 0.5rem 0 0;
    margin: 0.25rem;
    cursor: pointer;
    border: solid 0.0625rem;
    border-radius: 0.5rem;
    background-color: $toggleable_background;

    &::before {
      line-height: 1.5rem;
      display: inline-block;
      width: 1.375rem;
      text-align: center;
      margin: 0 0.25rem 0 0;
      border-radius: 0.375rem 0 0 0.375rem;
    }
  }

  .active {
    border-color: $toggleable_active;

    &::before {
      content: '\2611';
      background-color: $toggleable_active;
    }
  }

  .inactive {
    border-color: $toggleable_inactive;

    &::before {
      content: '\2610';
      background-color: $toggleable_inactive;
    }
  }

  .switch {
    border-color: $toggleable_switch;
    cursor: not-allowed;

    &::before {
      content: '\231B';
      background-color: $toggleable_switch;
    }
  }

  .unknown {
    border-color: $toggleable_unknown;

    &::before {
      content: '\26A0';
      background-color: $toggleable_unknown;
    }
  }
}

button.destroy {
  font-size: $small_font_size;
  line-height: 1rem;
  background: #fff7f7;
  border: solid #800000 0.0625rem;
}

article.entity-page {
  position: relative;

  > section {
    border-top: solid $secondary_text_color 0.0625rem;
    padding: 0.5rem 0 0 0;

    > h2 {
      font-size: $increased_font_size;
    }
  }

  table {
    margin: 1rem;
    border-spacing: 0;

    tbody {
      tr:nth-of-type(even) {
        background: $row_background_even;
      }

      tr:nth-of-type(odd) {
        background: $row_background_odd;
      }

      th {
        text-align: right;
        padding: 0.25rem 0.5rem;
      }

      td {
        padding: 0.25rem 0.5rem;

        &[colspan]:first-letter {
          text-transform: capitalize;
        }
      }
    }
  }

  form {
    table {
      th {
        font-weight: normal;
        text-align: right;
        vertical-align: top;
        line-height: 1.75rem;

        &[colspan] {
          text-align: center;
          font-weight: bold;
          border-top: solid #777777 0.0625rem;
          padding-top: 1rem;
        }
      }

      input[type=text], textarea {
        width: calc(100% - 1rem);
      }

      td[colspan].preview {
        margin: 0 auto;
        width: 20rem;
        text-align: center;

        img {
          max-width: 20rem;
          max-height: 20rem;
        }
      }

      tfoot {
        tr {
          td {
            padding: 0.5rem 0;
            text-align: center;
          }
        }
      }

      .flags {
        text-align: left;

        ul {
          margin: 0;
          padding: 0;

          > li {
            list-style: none;
            margin: 0;
            padding: 0;

            label {
              font-weight: normal;
            }
          }
        }
      }

      p.notice {
        margin: 0;
        color: $secondary_text_color;
        font-size: $decreased_font_size;

        &::before {
          content: '\261E';
          margin-right: 0.25rem;
        }
      }
    }
  }
}

ul.actions {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0.25rem;
  right: 0.6125rem;
  box-shadow: 0 0 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.5;
  transition: 0.25s;
  background: #ffffff;

  &:hover {
    opacity: 1;
  }

  > li {
    list-style: none;
    margin: 0.25rem;
    flex-basis: 1rem;
    line-height: 1rem;
    height: 1rem;

    &.danger {
      margin-left: 1.25rem;
    }

    > a {
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }

    img {
      max-width: 1rem;
      max-height: 1rem;
    }
  }
}

.list-of-entities {
  margin: 1rem 0;
  padding: 0;

  > li {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: $row_background_odd;

    &:nth-of-type(even) {
      background: $row_background_even;
    }

    &[data-number]::before {
      content: attr(data-number) ":";
      width: 1.5rem;
      display: inline-block;
      text-align: right;
      margin: 0 0.5rem 0 0;
    }

    .image {
      margin: 0 0.5rem 0 0;
      flex-basis: 5rem;
      text-align: center;

      img {
        max-width: 5rem;
        max-height: 5rem;
      }
    }

    .data {
      flex: 1;
      position: relative;

      .info {
        font-size: $small_font_size;
      }

      .secondary {
        color: $secondary_text_color;
      }
    }
  }
}
