// Размеры шрифтов
$huge_size: 1.5rem;        // 24px
$larger_size: 1.375rem;    // 22px
$large_size: 1.25rem;      // 20px
$increased_size: 1.125rem; // 18px
$normal_size: 1rem;        // 16px
$decreased_size: 0.875rem; // 14px
$small_size: 0.75rem;      // 12px
$smaller_size: 0.625rem;   // 10px
$tiny_size: 0.5rem;        // 8px

// Зебра для списков
$row_background_even: #f7f7f7;
$row_background_odd: #fafafa;
