<% if collection.any? %>
    <ul class="list-of-entities">
      <% collection.each do |order| %>
          <li>
            <%= render partial: 'admin/orders/entity/in_list', locals: { order: order } %>
          </li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
