<% if collection.any? %>
    <ul class="notifications-list">
      <% collection.each do |notification| %>
          <li><%= render notification %></li>
      <% end %>
    </ul>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
